<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fx.collector">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Select_Area"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.fx.collector" />

                <categeory android:name="android.intent.categeory.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Garbage_Details"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.fx.collector" />

                <categeory android:name="android.intent.categeory.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.fx.collector" />

                <categeory android:name="android.intent.categeory.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AcceptOrReject" />
        <activity android:name=".Register"></activity>
    </application>

</manifest>